.cart-container{
    position: fixed;
    margin-left: 78%;
    background-color: white;
    
    border-radius: 5px;
    padding:10px;
    box-shadow: 0px 10px 10px rgba(0.2, 0.2, 0.2, 0.2);
}
.add-cart-header{
    display: flex;
}

.checkout-button{

    color:#001B39;
    height:20px;
    position: relative;
    text-align: center;
    left:80px;
   
}
.coupon-checkout{
    color:#001B39;
}