.Find_Work_Modal{
    text-align: center;
}
.coupon-text-main{
    
    background-color: #D9D9D9;
    height:30px;
    border-radius: 6px;
}
.availabe-coupon-text{
    
}
.coupon-input-check{
   
   
}