.offer-heading-1{
    font-family: Poppins;
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0.11339999735355377px;
    text-align: left;
    color: #001B39;
    margin-left: 20px;
    
}
.offer-1{
    margin-left: 20px;
}