.termCondition-main{
    Width:97%;
    margin-left: 20px;
}
.termcondition-heading-1 {
    font-family: Poppins;
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0.11339999735355377px;
    text-align: left;
    color: #001B39;
}

.termcondition-heading-2 {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0.18000000715255737px;
    text-align: left;
    color: #001B39;

}

.termcondition-paragraph-1 {
    font-family: Poppins;
    font-size: 17px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;

}