
.otp-message {
    position: absolute;
    top: 10px; /* Adjust the top position as needed */
    right: 10px; /* Adjust the right position as needed */
    background-color: green; /* Change the background color as desired */
    color: white; /* Change the text color as desired */
    padding: 5px 10px; /* Adjust padding as needed */
    border-radius: 5px; /* Add border radius for rounded corners */
    font-size: 14px;
  }

  .verify-otp-button {
    background-color: #007bff; /* Change the background color to your preferred color */
    color: #fff; /* Change the text color to your preferred color */
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .verify-otp-button:hover {
    background-color: #0056b3; /* Change the hover background color to your preferred color */
  }
  